{% extends 'layout.html' %}

{% block body %}
    <h1>Projects</h1>
    <p>   Claw Project
    </p>

    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/Vfl0i2mivlw" style="display: block; margin: auto">
    </iframe>
    <br>
    <img src="static/ClawBoard.jpg" height="430" width="600" style="display: block; margin: auto"/>
    <br><br><br>

    <p> Java Project: Kamino Game </p>
    <br>
    <img src="static/mp2_code.png" height="500" width="400" style="display: block; margin: auto"/>
    <img src="static/KaminoGame.png" height="500" width="800" style="display: block; margin: auto"/>



{% endblock %}